#navbar {
    top: 0;
    position: fixed;
    display: flex;
}

#footer {
    bottom: 0;
    position: fixed;
    display: flex;
}

#logo {
    position: absolute;
    top: 25%;
    left: 50%;
    margin: 2px 0 0 -136px;
}

#search {
    position: absolute;
    top: 42%;
    left: 50%;
    justify-content: center;
    margin: 0 0 0 -115px;
}

#searchbuttons {
    position: absolute;
    top: 52%;
    left: 50%;
    justify-content: center;
    margin: 0 0 0 -120px;
}