#navbar {
    background-color: transparent;
}

li {
    display: inline;
    padding: 10px;
    font-family: arial;
    font-size: 10pt;
}

#footer {
    bottom: 0;
    background-color: #dfe1e5;
    position: fixed;
    width: 100%
}

#logo {
    position: absolute;
    top: 25%;
    left: 50%;
    margin: 2px 0 0 -136px;
}

#search {
    position: absolute;
    top: 42%;
    left: 50%;
    background-color: transparent;
    border: none;
    justify-content: center;
    margin: 0 0 0 -115px;
}

#searchbuttons {
    position: absolute;
    color: #5f6368;
    border: 1px;
    border-radius: 4px;
    top: 52%;
    left: 50%;
    justify-content: center;
    margin: 0 0 0 -150px;
}